/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}

a {
  text-decoration: none;
}

footer {
  background-color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* HEADER */
/*Mobile*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/*hidden on mobile*/
.menu,
.address {
  display: none;
}
/*End hidden on mobile*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}

.logo-studio {
  color: #2e2f42;
}

/*burger-btn*/
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}
/*End burger-btn*/

/*laptop*/
@media screen and (min-width: 768px) {
  /*Hidden on laptop*/
  .burger-btn {
    display: none;
  }
  /*End hidden on laptop*/

  .menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .nav-header {
    align-items: center;
    display: flex;
  }

  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .menu-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .menu-link.current {
    position: relative;
    color: #404bbf;
  }

  .menu-link.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* END of HEADER */

/*Mobile menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav-menu {
  margin-bottom: auto;
}

.nav-list-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-link {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;

  display: block;
  padding: 16px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
}

.mobile-menu-link.current {
  position: relative;
  color: #404bbf;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-contacts-link {
  padding: 16px 0;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
}

.menu-contacts-link.current {
  color: #404bbf;
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
  color: #404bbf;
}

.menu-icon-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
  width: 280px;
  height: 40px;
  margin-top: 48px;
}

.menu-social-icons {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social-icons:hover,
.social-icons:focus {
  background-color: #404bbf;
  color: #f4f4fd;
}

.menu-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*End of Mobile menu*/

/*HERO*/
/*Mobile*/
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/hero-mobile/hero-img-2x.jpg");
  background-repeat: no-repeat;
  max-width: 320px;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
  padding: 72px 0;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 72px 52px;
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*laptop*/
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-tablet/hero-tablet-2x.jpg");
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    margin-bottom: 36px;
    margin-left: 136px;
  }
}
/*Desktop*/
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/hero-desktop/hero-desktop-2x.jpg");
    max-width: 1158px;
    padding: 188px;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}
/*END HERO*/

/*ADVANTAGES*/
/*Mobile*/
.advantages {
  padding: 96px 0;
}

.icon-box {
  display: none;
}

.adv-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
  justify-content: center;
}

.adv-li {
  width: 100%;
}

.advantages-title {
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.text-advantages {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*laptop*/
@media screen and (min-width: 768px) {
  .adv-list {
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .adv-li {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .advantages {
    padding: 96px 0;
  }

  .adv-list {
    justify-content: center;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .adv-li {
    width: calc((100% - 24px * 3) / 4);
  }

  .icon-box {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-advantages {
    font-weight: 400;
  }
}
/*END ADVANTAGES*/

/*OUR TEAM*/
/*Mobile*/
.team {
  background-color: #f4f4fd;
  padding: 96px 28px;
}
.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.people {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.card-container {
  padding: 32px 0;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}
.icon-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media {
  width: 40px;
  height: 40px;
}

.social-icons {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons:hover,
.social-icons:focus {
  background-color: #404bbf;
  color: #f4f4fd;
}

.icon {
  fill: #f4f4fd;
}

/*laptop*/
@media screen and (min-width: 768px) {
  .team.container {
    max-width: 644px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .card-container {
    padding: 108px 0;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team.container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*END of OUR TEAM*/

/*PORTFOLIO*/
/*Mobile*/
.portfolio {
  padding: 96px 0;
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.p-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.p-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: center;
}

.items-portfolio {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items-portfolio:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.items-portfolio:hover .overlay-text {
  transform: translate(0);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*laptop*/
@media screen and (min-width: 768px) {
  .p-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .items-portfolio {
    width: calc((100% - 24px) / 2);
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .p-list {
    gap: 48px 24px;
  }
  .items-portfolio {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/*END of PORTFOLIO*/

/*FOOTER*/
/*Mobile*/
.footer {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 72px;
  padding-left: 0;
}
.footer-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: auto;
  margin-right: auto;
}
.logo-footer {
  color: #f4f4fd;
  line-height: 1.17;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon-footer {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.icon-social-footer {
  display: flex;
  gap: 16px;
}

.footer-icons {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
}
.footer-icons:hover,
.footer-icons:focus {
  background-color: #31d0aa;
  color: #f4f4fd;
}

.icon {
  fill: #f4f4fd;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-subscribe-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-form-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-input {
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  font-weight: 400;
}

.footer-subscribe-btn {
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-icon {
  fill: #fff;
  margin-left: 16px;
}

/*laptop*/
@media screen and (min-width: 768px) {
  .footer-container {
    justify-content: flex-start;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }
  .footer .logo {
    margin-left: 0;
    margin-right: auto;
  }
  .text-footer {
    width: 264px;
  }
  .icon-footer {
    margin-left: 0;
    margin-right: auto;
  }
  .text-subscribe-footer {
    margin-left: 0;
    margin-right: auto;
  }
  .subscribe-form-footer {
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 264px;
  }
  .footer-subscribe-btn {
    margin-left: 0;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    justify-content: center;
    align-items: baseline;
    gap: 0px;
    flex-wrap: nowrap;
    padding-left: 0px;
  }
  .footer-description {
    margin-right: 120px;
  }
  .footer-social {
    margin-right: 80px;
  }
  .footer-subscribe-btn {
    margin-right: auto;
  }
}

/*END of FOOTER*/

/*MODAL*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%) scale 1.5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 0;
  padding: 0;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 256px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.form-wrapper-content {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.modal-content-input {
  position: relative;
}

.modal-input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  outline: none;
  transition: border 250ms linear;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.form-wrapper-textarea {
  margin-bottom: 16px;
}

.modal-form-label-textarea {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-textarea {
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-checkbox {
  margin-bottom: 24px;
}

.label-user-checkbox {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.04em;
  color: #8e8f99;
  line-height: 1.17;
}

.custom-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.checkbox:checked + .label-user-checkbox > .custom-checkbox {
  border-color: transparent;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.user-privacy {
  line-height: 1.333;
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-submit {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
}

.modal-submit:hover,
.modal-submit:focus {
  background-color: #404bbf;
}

/*laptop*/
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-text {
    max-width: 360px;
  }
  .modal-input {
    width: 360px;
  }
  .modal-textarea {
    width: 360px;
  }
}

/*Desktop*/
@media screen and (min-width: 1158px) {
}

/*END of MODAL*/
